<!DOCTYPE html>
<html lang="en">

<head>
  <title>Smartedge Technologies Pvt Ltd</title>
  <meta charset="utf-8">
  <style>

  </style>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="/templates/views/assets/favicon.ico" />

    <!-- css files path start  -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="css/style.css">
    <!-- css files path end   -->


    <!-- jqurey files path start  -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!-- jqurey files path end   -->

</head>

<body>

  <!-- navbar start-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="container">
      <a class="navbar-brand"> <img src="/img/id-card.png"> &nbsp; Smartedge Technologies Pvt Ltd</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item"><a class="nav-link py-3 px-0 px-lg-3 rounded active" aria-current="page" href="register">Register</a></li>
        </ul>
      </div>

    </div>
  </nav>
  <!-- navbar end -->

  <!-- Home Avatar and Welcome start -->
  <div class="container-lg">
    <div class="row">
      <div class="col-sm-6">
        <img class="image-class" src="/img/visit-home.png">
      </div>
      <div class="col-sm-6">
        <h1 class="h2-home">Thanks for registering the visitor.</h1>
      </div>

    </div>

    <!--  Home Avatar and Welcome end -->



</body>

</html>