<!DOCTYPE html>
<html lang="en">

<head>
    <title>Search Visitor</title>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />


    <!-- css files path start  -->
        <link href="html_css/bootstrap.min.css" rel="stylesheet">
        <link href="html_css/searchvisitor.css" rel="stylesheet">
    <!-- css files path end   -->


    <!-- jqurey files path start  -->
        <script src="jquery/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
    <!-- jqurey files path end   -->

</head>

<body>

    <!-- navbar start-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-lg-5">

        <div class="container">
            <a class="navbar-brand"> <img src="assets/img/id-card.png"> &nbsp; Atithi Portal</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <form class="d-flex">
                        <input class="form-control me-2" type="text" placeholder="Search">
                        <button class="btn btn-primary" type="button">Search</button>
                    </form>
                </ul>
            </div>

        </div>
    </nav>
    <!-- navbar end -->

    <!-- Searched info section start -->
    <div class="container">
        <div class="row p-lg-3"
            style="background-color: #e2e8f0;padding-top: 3rem;padding-bottom: 3rem;border-radius: 25px;">
            <div class="col-lg-4">
                <div class="card mt-3 mb-3" style="background-color: snow">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin"
                                class="rounded-circle" width="150">
                            <div class="mt-3 mb-3">
                                <h4>Mr. Rajesh A. Yadav</h4>
                            </div>
                            <div class="col-md-12">
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Date</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        10-12-2021
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Check-in Time</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        12:00 PM
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Check-Out Time</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        01:00 PM
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="card mt-3 mb-3" style="background-color: snow;">
                    <div class="mt-3 mb-3">
                        <h4 style="text-align: center;">Visitor visit details.</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Visitor Name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                Mr. Rajesh P. Yadav
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                rajeshyadav@gamil.com
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Mobile Number</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                (+91) 8754652152
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Address</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                Karve Nagar Pune.
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Purpose of visit</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                For the meeting regarding rental service.
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Person to visit</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                Mr.Mohite R. Ramesh
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-12 float-sm-end text-center">
                                <button type="submit" class="btn btn-success">Verify</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Searched info section end -->

    <!-- Footer -->
    <footer class="page-footer font-small blue pt-3">
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">©  2021 Copyright. &reg; Atithi Portal , All rights reserved. </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->

</body>
</html>